

.topNav {
    background: linear-gradient(90deg, $topNavLeft 50%, $topNavRight 50%);
    position: fixed;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid $lightgrey;
}

.intro,
.circle-flex {
    background: linear-gradient(90deg, $yellow 50%, $gradientyellow 50%);
}

.feature p {
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: left;
    color: $darkgrey;
}

.simpleFlexLogo {
    flex-shrink: 2;
    flex-grow: 0;
    flex-basis: 180px;
}

.topNav-list {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 565px;
}

.intro .wrapper {
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.headerFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topNav-list {
    display: flex;
}

.listItem {
    list-style: none;
}

.topNav .listItem:not(first-of-type)::after {
    content: "|";
    color: $lightgrey;
    padding: 30px;
}

.anchor-whiteBorder {
    text-decoration: none;
    color: $darkgrey;
    width: 200px;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    border: 4px solid $white;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.5s ease;
    &:hover {
        border: 4px solid $darkgrey;
    }
}

.phonePhoto img {
    width: 100%;
    position: relative;
    top: 50px;
    right: 50px;
}

.shape {
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-radius: 10px;
}

.circle-flex .wrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.shape.middle {
    margin-right: 5px;
    margin-left: 5px;
}


// RESPONSIVE/HAMBURGER MENU STYLING

i.hamburger {
    color: $darkgrey;
    transition: all 0.5s ease-in-out;
    &:hover {
        color: $pink;
        transform: rotate(90deg);
    }
}

label[for="toggle"] {
    position: fixed;
    top: 0;
    left: 20px;
    color: black;
    z-index: 100;
    @include fontSize(20);
}

#toggle,
i.hamburger,
nav.responsive {
    display: none;
}






