body {
    font-family: 'Raleway', sans-serif;
    color: $white;
    @include fontSize(12);
    font-weight: 700;
    line-height: 30px;
}

h1 {
    @include fontSize(80);
    color: $darkgrey;
    line-height: 65px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
    & span {
        color: $white;
        font-weight: 300;
    }
}

a.emailContact {
    font-family: 'Open Sans', sans-serif;
    color: $darkgrey;
    @include fontSize(50);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
}

h2 {
    @include fontSize(60);
    font-weight: 300;
    line-height: 65px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

div.quote {
    color: $mediumgrey;
    @include fontSize(60);
    line-height: 55px;
    text-align: center;
}

div.author {
    @include fontSize(40);
    font-weight: 300;
    line-height: 55px;
    text-align: center
}

p.phoneNumber {
    font-family: 'Open Sans', sans-serif;
    @include fontSize(40);
    line-height: 55px;
    text-align: center;
}

h3,
h4,
h5 {
    @include fontSize(24);
    line-height: 30px;
    text-align: center;
}

h4 {
    margin-top: 20px;
    margin-bottom: 0;
}

h5 {
    color: $darkgrey;
    text-align: left;
    margin: 0;
}

p.paraRepeat {
    @include fontSize(20);
    font-weight: 300;
}

ul.topNav-list a {
    color: $darkgrey;
    @include fontSize(13);
    font-weight: 300;
    line-height: 65px;
    text-align: right;
    text-decoration: none;
    &:hover {
        color: $pink;
    }
}

p.number {
    font-family: 'Open Sans', sans-serif;
    color: $darkgrey;
    @include fontSize(60);
    font-weight: 700;
    text-align: center;
}

p.type {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    &:hover {
        color: $pink;
    }
}

p.title {
    color: $darkgrey;
    text-align: center;
    text-transform: uppercase;
}

p.paraBlack {
    color: $darkgrey;
    @include fontSize(20);
    font-weight: 300;
    text-align: left;
}

p.date {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

p.blogSnippet,
p.light,
p.dark {
    color: $lightgrey;
    @include fontSize(16);
    font-weight: 300;
    line-height: 24px;
}

p.blogSnippet {
    text-align: center;
}

p.light,
p.dark {
    text-align: left;
}

p.dark {
    color: $darkgrey;
}

p.address {
    font-family: 'Open Sans', sans-serif;
    color: $darkgrey;
    @include fontSize(25);
    font-weight: 300;
    line-height: 55px;
}

div.footerBlurb {
    color: $lightgrey;
    @include fontSize(13);
    font-weight: 300;
    line-height: 65px;
    text-align: center;
    & span {
        color: $white;
    }
}







