@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

// MISC STYLINGS

.triangleParent {
    position: relative;
}

.arrow-down-yellow {
    width: 40px;
    height: 40px;
    z-index: 0;
    background: linear-gradient(45deg, $yellow 50%, $gradientyellow 50%);
    transform: rotate(45deg);
    position: absolute;
    right: 48.5%;
    bottom: -20px;
}

.container {
    position: relative;
}

.arrow-down-pink {
    width: 40px;
    height: 40px;
    z-index: 0;
    background: linear-gradient(90deg, $pink 50%, $gradientpink 50%);
    transform: rotate(45deg);
    position: absolute;
    right: 48.5%;
    top: 70px;
}

// .arrow-up {
//     width: 0;
//     height: 0;
//     border-left
//     border-right
//     border-top
// }

.border-top {
    border-top: 2px solid $mediumgrey;
    width: 175px;
    margin: 0 auto;
}

// MAIN STYLING BEGINS

// ABOUT US SECTION STYLING BEGINS

section.grey {
    background: $darkgrey;
}

.center {
    text-align: center;
    padding-top: 90px;
    max-width: 50%;
    margin: 0 auto;
    & p {
        color: $lightgrey;
        padding-bottom: 30px;
    }
}

.threeBoxes {
    margin-top: 40px;
    display: flex;
    & img {
        display: block;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

.box-yellowBorder,
.box-pinkBorder,
.box-greenBorder {
    background: $mediumgrey;
    max-width: 33.33%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 100px;
}

.box-pinkBorder {
    margin-left: 25px;
    margin-right: 25px;
}

p.text {
    color: $lightgrey;
    @include fontSize(16);
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.box-yellowBorder {
    border-bottom: 10px solid $yellow;
}

.box-pinkBorder {
    border-bottom: 10px solid $pink;
}

.box-greenBorder {
    border-bottom: 10px solid $green;
}

// ABOUT US STYLING ENDS

// SKILLS STYLING SECTION BEGINS

section.black {
    background: $black;
}

.first,
.second,
.third,
.fourth {
    max-width: 25%;
    margin-bottom: 90px;
}

.first,
.second,
.third {
    margin-right: 40px;
}

.fourCircles {
    margin-top: 40px;
    display: flex;
    & img {
        display: block;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

// SKILLS SECTION STYLING ENDS

// QUOTE SECTION STYLING BEGINS

.pink {
    background: linear-gradient(90deg, $pink 50%, $gradientpink 50%);
    padding-bottom: 90px;
    padding-top: 20px;
}

.quote {
    margin-bottom: 30px;
    position: relative;
}

.quote::before {
    content: "“";
    color:  #ffffff;
    font-size: 140px;
    position: absolute;
    top: 0;
    left: 0;
}

.quote::after {
    content: "”";
    color:  #ffffff;
    font-size: 140px;
    position: absolute;
    right: 0;
    top: 0;
}

// QUOTE SECTION STYLING ENDS

// SCROLL SECTION STYLING BEGINS

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.latestProject img {
    display: block;
    margin-right: 150px;
    margin-left: 150px;
}

i.fas {
    @include fontSize(30);
}

// SCROLL SECTION STYLING ENDS

// HEADSHOT SECTION STYLING BEGINS

.headshotBox {
    background: $mediumgrey;
    max-width: 25%;
    margin-bottom: 100px;
    border-bottom: 10px solid #fc5961;
}





// HEADSHOT SECTION STYLING ENDS